openapi: 3.1.0
info:
  title: Blog Anime API
  description: |
    Anime API for the blog platform.
    Covers anime listing with season-based pagination, single-anime updates,
    AniList/Jellyfin sync, and Jellyfin library listing.
  version: 0.1.0
  license:
    name: MIT
    identifier: MIT
  x-api-id: anime
servers:
  - url: https://mogumogu.dev
    description: Production
tags:
  - name: anime_anime
    description: Anime listing and updates
    x-displayName: anime
  - name: anime_sync
    description: Data synchronization from external services
    x-displayName: sync
  - name: auth_auth
    description: Session management (status check, logout)
    x-displayName: auth
  - name: auth_oauth
    description: OAuth 2.0 provider callbacks
    x-displayName: oauth
  - name: comment_comment
    description: Comment CRUD operations
    x-displayName: comment
  - name: comment_admin
    description: Admin reply management
    x-displayName: admin
  - name: hackernews_article
    description: Fetch and list Hacker News articles
    x-displayName: article
  - name: hackernews_statistics
    description: Article field completion counts
    x-displayName: statistics
  - name: hackernews_processing
    description: Content extraction, summarization, translation, and image generation
    x-displayName: processing
  - name: hackernews_cache
    description: Redis cache flush and monitoring
    x-displayName: cache
  - name: misc_language
    description: Language preference management
    x-displayName: language
  - name: misc_cloudflare
    description: Cloudflare Turnstile CAPTCHA verification
    x-displayName: cloudflare
  - name: misc_discord
    description: Discord admin notifications
    x-displayName: discord
  - name: post_post
    description: Post metadata and management
    x-displayName: post
  - name: post_like
    description: Like operations (toggle, count)
    x-displayName: like
  - name: visitor_visitor
    description: Visitor fingerprint tracking
    x-displayName: visitor
  - name: visitor_analytics
    description: Google Analytics data retrieval
    x-displayName: analytics
  - name: visitor_status
    description: Health check and API quota status
    x-displayName: status
  - name: visitor_indexing
    description: Full-text search indexing (Fuse.js)
    x-displayName: indexing
paths:
  /api/anime:
    get:
      operationId: listAnime
      summary: List anime by season (paginated)
      description: |
        Returns anime for the given season and year, filtered to only
        visible entries (`is_visible = true`) and ordered by `start_date`
        descending. Supports offset-based pagination.
      tags:
        - anime_anime
      security: []
      parameters:
        - name: season
          in: query
          required: true
          description: |
            Season name (case-insensitive; stored as uppercase in the database).
          schema:
            type: string
            enum:
              - winter
              - spring
              - summer
              - fall
        - name: seasonYear
          in: query
          required: true
          description: Year of the season (e.g. `2025`)
          schema:
            type: integer
        - name: page
          in: query
          required: false
          description: Page number (1-based)
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Paginated anime list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_AnimeListResponse'
              example:
                animes:
                  - id: 170890
                    romaji_title: Solo Leveling Season 2
                    english_title: Solo Leveling Season 2
                    japanese_title: 俺だけレベルアップな件 Season 2
                    start_date: '2025-01-04'
                    end_date: '2025-06-28'
                    episodes: 24
                    cover_color: '#1a237e'
                    cover_image_url: >-
                      https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx170890.jpg
                    review: null
                    seasons_info: []
                    updated_at: '2025-06-01T12:00:00.000Z'
                    season: WINTER
                    season_year: 2025
                    is_visible: true
        '400':
          description: Missing required query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Missing season or seasonYear
        '500':
          description: Database query failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Failed to fetch data from DB
  /api/anime/{id}:
    parameters:
      - $ref: '#/components/parameters/anime_AnimeId'
    patch:
      operationId: updateAnime
      summary: Update an anime
      description: |
        Merges the request body into the existing anime record and upserts
        to the database. Fields not provided in the body are preserved
        from the current record. The `updated_at` timestamp is set to
        `CURRENT_TIMESTAMP` on every update.
      tags:
        - anime_anime
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anime_UpdateAnimeRequest'
            example:
              review: Great sequel with improved animation.
              isVisible: true
      responses:
        '200':
          description: Anime updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_UpdateAnimeResponse'
        '400':
          description: Invalid or missing anime ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Invalid ID
        '404':
          description: Anime not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Anime not found
        '500':
          description: Database update failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Update failed
  /api/anime/sync:
    post:
      operationId: syncAnime
      summary: Sync anime data from AniList via Jellyfin
      description: |
        Fetches the Jellyfin library matching the given season
        (`{seasonYear}-{seasonNum}` naming convention, e.g. `2025-1` for
        Winter 2025), extracts AniList IDs from each series, queries the
        AniList GraphQL API for full anime details, and bulk-upserts the
        results into the `anime` table.
      tags:
        - anime_sync
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/anime_SyncRequest'
            example:
              season: winter
              seasonYear: 2025
      responses:
        '200':
          description: Sync completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_MessageResponse'
              example:
                message: Sync complete
        '400':
          description: Missing season or seasonYear
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Missing season or seasonYear
        '500':
          description: Sync failed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/anime_ErrorResponse'
                  - $ref: '#/components/schemas/anime_SyncMissingIdsError'
              examples:
                invalidSeason:
                  summary: Invalid season value
                  value:
                    error: Invalid season
                libraryNotFound:
                  summary: Jellyfin library not found
                  value:
                    error: Library not found
                missingAnilistIds:
                  summary: Series missing AniList IDs
                  value:
                    error: Some animes have no Anilist ID.
                    data:
                      - id: abc123
                        name: Unknown Series
                syncFailed:
                  summary: General sync failure
                  value:
                    error: Sync failed
  /api/anime/libraries:
    get:
      operationId: listAnimeLibraries
      summary: List Jellyfin anime libraries
      description: |
        Fetches all items from Jellyfin and returns library names that
        match the `{year}-{seasonNum}` pattern (e.g. `2025-1`, `2024-4`).
        Results are sorted in descending order (newest first).
      tags:
        - anime_sync
      security: []
      responses:
        '200':
          description: Library name list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_LibrariesResponse'
              example:
                libraries:
                  - 2025-1
                  - 2024-4
                  - 2024-3
                  - 2024-2
        '500':
          description: Failed to fetch from Jellyfin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/anime_ErrorResponse'
              example:
                error: Failed to fetch Jellyfin views
  /api/auth/status:
    get:
      operationId: getAuthStatus
      summary: Check authentication status
      description: |
        Verifies the JWT token in the `auth` cookie and returns the current
        user's identity. Returns a non-authenticated response (not 401) when
        no valid token is present.
      tags:
        - auth_auth
      security:
        - auth_cookieAuth: []
      responses:
        '200':
          description: Authentication status
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/auth_AuthenticatedStatus'
                  - $ref: '#/components/schemas/auth_UnauthenticatedStatus'
              examples:
                authenticated:
                  summary: Valid session
                  value:
                    isAuthenticated: true
                    user:
                      userId: 550e8400-e29b-41d4-a716-446655440000
                      username: foreverfl
                      email: foreverfl@example.com
                      photo: https://avatars.githubusercontent.com/u/12345
                unauthenticated:
                  summary: No session
                  value:
                    message: Not authenticated
        '400':
          description: Invalid or expired JWT token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
              example:
                error: 'Token verification failed: jwt expired'
  /api/auth/logout:
    post:
      operationId: logout
      summary: Logout and clear session
      description: |
        Clears the `auth` cookie by setting its expiry to a past date.
        Always returns 200 regardless of whether a session existed.
      tags:
        - auth_auth
      security: []
      responses:
        '200':
          description: Successfully logged out
          headers:
            Set-Cookie:
              description: Expired `auth` cookie to clear the session
              schema:
                type: string
                example: >-
                  auth=; HttpOnly; Secure; Path=/; Expires=Thu, 01 Jan 1970
                  00:00:00 GMT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_MessageResponse'
              example:
                message: Successfully logged out
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
  /api/auth/providers/github:
    get:
      operationId: githubOAuthCallback
      summary: GitHub OAuth callback
      description: |
        Receives the authorization code from GitHub's OAuth flow, exchanges it
        for an access token, fetches the user profile, upserts the user in the
        database, issues a JWT, and redirects to the application root.
      tags:
        - auth_oauth
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code from GitHub OAuth redirect
          schema:
            type: string
      responses:
        '200':
          description: OAuth flow completed (browser receives 302 redirect)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_MessageResponse'
        '302':
          description: Redirect to application after successful login
          headers:
            Location:
              description: Redirect target URL
              schema:
                type: string
                format: uri
                example: https://mogumogu.dev/
            Set-Cookie:
              description: JWT auth cookie (httpOnly, 2h max-age)
              schema:
                type: string
                example: auth=eyJhbG...; HttpOnly; Secure; Path=/; Max-Age=7200
        '400':
          description: Missing authorization code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
              example:
                error: Code is required
        '500':
          description: OAuth exchange or user creation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
              example:
                error: Internal Server Error
  /api/auth/providers/google:
    get:
      operationId: googleOAuthCallback
      summary: Google OAuth callback
      description: |
        Receives the authorization code from Google's OAuth flow, exchanges it
        for an access token, fetches the user profile, upserts the user in the
        database, issues a JWT, and redirects to the pre-login URL stored in
        the `preLoginUrl` cookie.
      tags:
        - auth_oauth
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code from Google OAuth redirect
          schema:
            type: string
      responses:
        '200':
          description: OAuth flow completed (browser receives 302 redirect)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_MessageResponse'
        '302':
          description: Redirect to pre-login URL after successful login
          headers:
            Location:
              description: URL the user was on before initiating login
              schema:
                type: string
                format: uri
            Set-Cookie:
              description: JWT auth cookie (httpOnly, sameSite=lax)
              schema:
                type: string
                example: >-
                  auth=eyJhbG...; HttpOnly; Secure; Path=/; Max-Age=600;
                  SameSite=Lax
        '400':
          description: Missing authorization code or expired pre-login cookie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
              examples:
                missingCode:
                  summary: No authorization code
                  value:
                    error: Code is required
                expiredCookie:
                  summary: Pre-login URL cookie expired
                  value:
                    error: Cookie has expired. Please try again.
        '500':
          description: OAuth exchange or user creation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_ErrorResponse'
              example:
                error: Internal Server Error
  /api/comment/{classification}/{category}/{slug}:
    parameters:
      - $ref: '#/components/parameters/comment_Classification'
      - $ref: '#/components/parameters/comment_Category'
      - $ref: '#/components/parameters/comment_Slug'
    get:
      operationId: listComments
      summary: List comments for a post
      description: |
        Returns all comments for the specified post, ordered by creation date
        ascending. Includes user details (email, username, photo) joined from
        the users table.
      tags:
        - comment_comment
      security: []
      responses:
        '200':
          description: List of comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comment_Comment'
              example:
                - id: '1'
                  postId: '42'
                  userId: 550e8400-e29b-41d4-a716-446655440000
                  userPhoto: https://avatars.githubusercontent.com/u/12345
                  content: Great post!
                  email: user@example.com
                  username: foreverfl
                  photo: https://avatars.githubusercontent.com/u/12345
                  reply: Thanks for reading!
                  repliedAt: '2025-01-15T10:30:00.000Z'
                  createdAt: '2025-01-15T09:00:00.000Z'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
              example:
                error: Post not found
    post:
      operationId: createComment
      summary: Create a comment on a post
      description: |
        Creates a new comment on the specified post. The `user_id` must
        reference an existing user in the database (foreign key constraint).
        Returns the created comment with joined user details.
      tags:
        - comment_comment
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment_CreateCommentRequest'
            example:
              user_id: 550e8400-e29b-41d4-a716-446655440000
              user_photo: https://avatars.githubusercontent.com/u/12345
              content: Great post!
      responses:
        '200':
          description: Comment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_Comment'
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
  /api/comment/{classification}/{category}/{slug}/{comment_id}:
    parameters:
      - $ref: '#/components/parameters/comment_Classification'
      - $ref: '#/components/parameters/comment_Category'
      - $ref: '#/components/parameters/comment_Slug'
      - $ref: '#/components/parameters/comment_CommentId'
    patch:
      operationId: updateComment
      summary: Update a comment
      description: |
        Updates the content of an existing comment. Automatically sets
        `updated_at` to the current timestamp.
      tags:
        - comment_comment
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment_UpdateCommentRequest'
            example:
              content: Updated comment text
      responses:
        '200':
          description: Comment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_CommentRaw'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
              example:
                error: Comment not found
    delete:
      operationId: deleteComment
      summary: Delete a comment
      description: |
        Deletes a comment by ID. The request body must include the `user_id`
        which must match the comment's owner. Only the comment author can
        delete their own comment.
      tags:
        - comment_comment
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment_DeleteCommentRequest'
            example:
              user_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Comment deleted
          content:
            application/json:
              schema:
                type: object
                required:
                  - deletedCommentId
                properties:
                  deletedCommentId:
                    type: string
              example:
                deletedCommentId: '1'
        '404':
          description: Comment not found or not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
              example:
                error: Comment not found
  /api/comment/{classification}/{category}/{slug}/{comment_id}/admin:
    parameters:
      - $ref: '#/components/parameters/comment_Classification'
      - $ref: '#/components/parameters/comment_Category'
      - $ref: '#/components/parameters/comment_Slug'
      - $ref: '#/components/parameters/comment_CommentId'
    patch:
      operationId: upsertAdminReply
      summary: Add or update admin reply
      description: |
        Adds or updates an admin reply on a comment. Automatically sets
        `replied_at` to the current timestamp.
      tags:
        - comment_admin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment_AdminReplyRequest'
            example:
              reply: Thanks for the feedback!
      responses:
        '200':
          description: Admin reply added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_CommentRaw'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
    delete:
      operationId: deleteAdminReply
      summary: Remove admin reply
      description: |
        Removes the admin reply from a comment by setting `reply` and
        `replied_at` to null.
      tags:
        - comment_admin
      security: []
      responses:
        '200':
          description: Admin reply removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_CommentRaw'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment_ErrorResponse'
  /api/hackernews:
    get:
      operationId: listArticlesToday
      summary: List today's articles
      description: |
        Returns today's top 100 Hacker News articles (KST date). If the
        data does not yet exist in R2, fetches from the HN Firebase API,
        processes titles, and caches the result in R2 before returning.
      tags:
        - hackernews_article
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Array of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hackernews_HackerNewsArticle'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
        '500':
          description: Failed to fetch Hacker News data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_ErrorResponse'
  /api/hackernews/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    get:
      operationId: listArticlesByDate
      summary: List articles by date
      description: |
        Returns top 100 Hacker News articles for the given date. Behaviour
        is identical to `listArticlesToday` but targets a specific date.
      tags:
        - hackernews_article
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Array of articles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/hackernews_HackerNewsArticle'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
        '500':
          description: Failed to fetch Hacker News data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_ErrorResponse'
  /api/hackernews/count:
    get:
      operationId: getArticleCountsToday
      summary: Get article field counts for today
      description: |
        Reads today's article list from R2 and counts how many articles
        have null or empty `content`, `summary.en`, `summary.ja`, and
        `summary.ko` fields. Useful for monitoring pipeline progress.
      tags:
        - hackernews_statistics
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Field completion counts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_CountResponse'
              example:
                ok: true
                date: '260201'
                counts:
                  nullContentCount: 12
                  nullSummaryEnCount: 15
                  nullSummaryJaCount: 80
                  nullSummaryKoCount: 80
                message: >-
                  Null fields count: content=12, summary.en=15, summary.ja=80,
                  summary.ko=80
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
        '500':
          description: Failed to process daily data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_OkErrorResponse'
  /api/hackernews/count/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    get:
      operationId: getArticleCountsByDate
      summary: Get article field counts by date
      description: |
        Same as `getArticleCountsToday` but targets a specific date.
      tags:
        - hackernews_statistics
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Field completion counts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_CountResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
        '500':
          description: Failed to process daily data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_OkErrorResponse'
  /api/hackernews/fetch:
    post:
      operationId: fetchContentToday
      summary: Crawl article content for today
      description: |
        Reads today's article list from R2, filters articles that have a
        URL but no `content` yet, and enqueues fetch tasks (concurrency 10).
        Each task extracts the article body via Playwright (or PDF parser
        for `.pdf` URLs), slices it to 15 000 tokens, and stores the result
        in Redis (`content:{id}`, 24 h TTL). Returns immediately; tasks run
        in the background.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Fetch tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_FetchEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
              examples:
                success:
                  summary: Tasks enqueued
                  value:
                    ok: true
                    type: fetch
                    message: Enqueued 88 fetch tasks.
                noData:
                  summary: R2 data missing
                  value:
                    ok: false
                    error: File not found
                noRedis:
                  summary: Redis unavailable
                  value:
                    ok: false
                    error: No Redis
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/fetch/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    post:
      operationId: fetchContentByDate
      summary: Crawl article content by date
      description: |
        Same as `fetchContentToday` but targets a specific date.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Fetch tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_FetchEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/summarize:
    post:
      operationId: summarizeToday
      summary: Summarize articles for today
      description: |
        Filters articles that have `content` but no `summary.en`, then
        enqueues summarization tasks (concurrency 10). Each task calls
        OpenAI `gpt-4o-mini` and stores the English summary in Redis
        (`en:{id}`, 24 h TTL). Returns immediately.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Summarization tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_SummarizeEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
              examples:
                success:
                  summary: Tasks enqueued
                  value:
                    ok: true
                    type: summarize
                    total: 75
                    message: Enqueued 75 summerize tasks.
                noData:
                  summary: R2 data missing
                  value:
                    ok: false
                    error: File not found
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/summarize/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    post:
      operationId: summarizeByDate
      summary: Summarize articles by date
      description: |
        Same as `summarizeToday` but targets a specific date.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Summarization tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_SummarizeEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/translate:
    post:
      operationId: translateToday
      summary: Translate articles for today
      description: |
        Filters articles that have `summary.en` but are missing the target
        locale's summary, then enqueues translation tasks (concurrency 10).
        Each task translates both the title and summary via OpenAI
        `gpt-4o-mini` and stores results in Redis (`{lang}:title:{id}` and
        `{lang}:summary:{id}`, 24 h TTL). Returns immediately.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/hackernews_LangQuery'
      responses:
        '200':
          description: Translation tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_TranslateEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
              examples:
                success:
                  summary: Korean translation enqueued
                  value:
                    ok: true
                    type: translate
                    lang: ko
                    total: 60
                    message: Enqueued 60 ko, 0 ja translation tasks.
                invalidLang:
                  summary: Invalid language
                  value:
                    ok: false
                    error: Invalid language
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/translate/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    post:
      operationId: translateByDate
      summary: Translate articles by date
      description: |
        Same as `translateToday` but targets a specific date.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/hackernews_LangQuery'
      responses:
        '200':
          description: Translation tasks enqueued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_TranslateEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/draw:
    post:
      operationId: drawImageToday
      summary: Generate cover image for today
      description: >
        Selects the top-scoring article with a non-empty `summary.en`,

        extracts keywords, generates an image via DALL-E 3 (1024 x 1024, HD),

        converts it to WebP, and uploads to R2
        (`hackernews-images/{date}.webp`).

        Only one image is generated per request (concurrency 1).
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Image generation queued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_DrawEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
              examples:
                success:
                  summary: Image generation queued
                  value:
                    ok: true
                    message: Image generation request queued.
                noData:
                  summary: No R2 data for date
                  value:
                    ok: false
                    error: No data found for the given date in R2
                noSummary:
                  summary: No article with summary
                  value:
                    ok: false
                    error: No valid item with non-empty summary.en found
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/draw/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    post:
      operationId: drawImageByDate
      summary: Generate cover image by date
      description: |
        Same as `drawImageToday` but targets a specific date.
      tags:
        - hackernews_processing
      security:
        - hackernews_bearerAuth: []
      responses:
        '200':
          description: Image generation queued (or error)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_DrawEnqueuedResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/flush:
    post:
      operationId: flushCacheToday
      summary: Flush Redis cache to R2 for today
      description: |
        Validates that all background tasks of the given `type` have
        completed by comparing Redis key counts against `total`, then
        moves cached data from Redis into the R2 article JSON file.
        Each flushed Redis key is deleted after the value is written.

        **Flush conditions:**
        - `fetch` — `content:*` key count equals `total`
        - `summarize` — `en:*` key count equals `total`
        - `translate` — `{lang}:*` key count equals `total × 2`
          (title + summary per article)
      tags:
        - hackernews_cache
      security:
        - hackernews_bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hackernews_FlushRequest'
            examples:
              fetchFlush:
                summary: Flush fetched content
                value:
                  type: fetch
                  total: 88
              translateFlush:
                summary: Flush Korean translations
                value:
                  type: translate
                  total: 60
                  lang: ko
      responses:
        '200':
          description: Flush result
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_FlushResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
              examples:
                flushed:
                  summary: Successfully flushed
                  value:
                    ok: true
                    type: fetch
                    lang: null
                    attempted: true
                    canFlush: true
                    flushed: 88
                    counts:
                      en: 0
                      ja: 0
                      ko: 0
                      content: 0
                    totalKeys: 0
                    message: Flushed 88 items to R2.
                notReady:
                  summary: Tasks not yet complete
                  value:
                    ok: true
                    type: fetch
                    lang: null
                    attempted: true
                    canFlush: false
                    flushed: 0
                    counts:
                      en: 0
                      ja: 0
                      ko: 0
                      content: 42
                    totalKeys: 42
                    message: Flush condition not met...
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/flush/{date}:
    parameters:
      - $ref: '#/components/parameters/hackernews_Date'
    post:
      operationId: flushCacheByDate
      summary: Flush Redis cache to R2 by date
      description: |
        Same as `flushCacheToday` but targets a specific date.
      tags:
        - hackernews_cache
      security:
        - hackernews_bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hackernews_FlushRequest'
      responses:
        '200':
          description: Flush result
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/hackernews_FlushResponse'
                  - $ref: '#/components/schemas/hackernews_OkErrorResponse'
        '401':
          $ref: '#/components/responses/hackernews_Unauthorized'
        '403':
          $ref: '#/components/responses/hackernews_Forbidden'
  /api/hackernews/redis/count:
    get:
      operationId: getRedisKeyCount
      summary: Get Redis cache key count
      description: |
        Returns all keys currently in Redis along with the total count.
        Useful for monitoring background task progress before flushing.
      tags:
        - hackernews_cache
      security: []
      responses:
        '200':
          description: Redis key listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_RedisCountResponse'
              example:
                ok: true
                keyCount: 3
                keys:
                  - content:abc123def456
                  - en:xyz789012345
                  - ko:title:abc123def456
        '500':
          description: Redis connection failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hackernews_OkErrorResponse'
              example:
                ok: false
                error: Redis Connection Failed
  /api/language/{lan}:
    parameters:
      - $ref: '#/components/parameters/misc_Language'
    post:
      operationId: setLanguage
      summary: Set language preference
      description: |
        Sets the user's language preference by writing a `lan` cookie.
        Accepts `en`, `ja`, or `ko`. Returns 400 for any other value.
      tags:
        - misc_language
      security: []
      responses:
        '200':
          description: Language preference set
          headers:
            Set-Cookie:
              description: '`lan` cookie containing the selected language code'
              schema:
                type: string
                example: lan=ko; Path=/
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_SuccessResponse'
              example:
                success: true
        '400':
          description: Invalid language parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_LanguageErrorResponse'
              example:
                success: false
                message: Invalid language parameter
  /api/cloudflare/turnstile-verify:
    post:
      operationId: verifyTurnstile
      summary: Verify Cloudflare Turnstile CAPTCHA
      description: >
        Validates a Turnstile token by forwarding it to the Cloudflare

        siteverify endpoint
        (`https://challenges.cloudflare.com/turnstile/v0/siteverify`).

        Requires a server-side `TURNSTILE_SECRET_KEY` environment variable.
      tags:
        - misc_cloudflare
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/misc_TurnstileVerifyRequest'
            example:
              turnstileToken: 0.AbCdEfGhIjKlMnOpQrStUvWxYz
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkResponse'
              example:
                ok: true
        '400':
          description: Missing turnstile token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkErrorResponse'
              example:
                ok: false
                error: No token
        '403':
          description: Turnstile validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkErrorResponse'
              example:
                ok: false
                error: Turnstile validation failed
        '500':
          description: Server error during verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkErrorResponse'
  /api/discord/admin:
    post:
      operationId: sendDiscordAdminNotification
      summary: Send Discord admin webhook
      description: |
        Sends a notification to the admin's Discord DM channel via bot.
        The message is formatted with Markdown based on the event type.
        Includes the client IP (from `X-Forwarded-For`) and current KST
        timestamp in the message. Requires `DISCORD_BOT_TOKEN` and
        `DISCORD_USER_ID` environment variables.
      tags:
        - misc_discord
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/misc_DiscordAdminRequest'
            examples:
              bugReport:
                summary: Bug report notification
                value:
                  type: bug_report
                  title: Login button broken
                  content: The login button does not respond on Safari.
              commentCreate:
                summary: New comment notification
                value:
                  type: comment_create
                  content: Great post!
                  username: foreverfl
                  post_url: https://mogumogu.dev/en/blog/tech/my-post
              commentUpdate:
                summary: Comment update notification
                value:
                  type: comment_update
                  updatedContent: Updated comment text
                  username: foreverfl
                  post_url: https://mogumogu.dev/en/blog/tech/my-post
              commentDelete:
                summary: Comment delete notification
                value:
                  type: comment_delete
                  username: foreverfl
                  post_url: https://mogumogu.dev/en/blog/tech/my-post
      responses:
        '200':
          description: Notification sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkResponse'
              example:
                ok: true
        '400':
          description: Missing or unknown type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkErrorResponse'
              examples:
                missingType:
                  summary: Missing type field
                  value:
                    ok: false
                    error: Missing payload.type
                unknownType:
                  summary: Unknown type value
                  value:
                    ok: false
                    error: 'Unknown type: invalid_type'
        '500':
          description: Failed to send Discord message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/misc_OkErrorResponse'
  /api/post/meta:
    get:
      operationId: getPostMeta
      summary: Get post metadata
      description: >
        Returns metadata for a single post identified by classification,
        category,

        and slug. For `trends` classification, the title and date are derived
        from

        the slug (e.g. `250327` → `2025-03-27`). For regular posts, metadata is

        read from the MDX frontmatter. The `lan` parameter selects the locale
        for

        the title.
      tags:
        - post_post
      security: []
      parameters:
        - name: lan
          in: query
          required: true
          description: Locale code for the post title (e.g. `en`, `ja`, `ko`)
          schema:
            type: string
            enum:
              - en
              - ja
              - ko
        - $ref: '#/components/parameters/post_ClassificationQuery'
        - $ref: '#/components/parameters/post_CategoryQuery'
        - $ref: '#/components/parameters/post_SlugQuery'
      responses:
        '200':
          description: Post metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_PostMeta'
              examples:
                regularPost:
                  summary: Regular blog post
                  value:
                    fileName: my-first-post
                    title: My First Blog Post
                    date: '2025-06-01'
                    classification: blog
                    category: tech
                    image: /images/blog/tech/my-first-post.png
                trendsPost:
                  summary: Trends post (Hacker News digest)
                  value:
                    title: Hacker News Digest
                    date: '2025-03-27'
                    classification: trends
                    category: hackernews
        '400':
          description: Missing required query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Missing required query parameters
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Post not found
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
  /api/posts/sync:
    post:
      operationId: syncPosts
      summary: Sync posts to database
      description: |
        Generates a sitemap from application routes, extracts post paths
        (classification, category, slug), and upserts each post into the
        database. Existing posts have their `updated_at` timestamp refreshed;
        new posts are inserted. Requires a Bearer token for authorization.
      tags:
        - post_post
      security:
        - post_bearerAuth: []
      responses:
        '200':
          description: Sync completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_SyncResponse'
              example:
                ok: true
                inserted: 42
                message: Sync completed. Posts are upserted.
        '401':
          description: Missing authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Missing authorization header
        '403':
          description: Invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Invalid bearer token
        '500':
          description: Sitemap generation or database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
  /api/posts/indexing:
    post:
      operationId: indexPosts
      summary: Index posts for search
      description: |
        Fetches up to 30 unindexed posts (`indexed = false`) and submits each
        to the Google Indexing API for all three locales (`en`, `ja`, `ko`).
        A post is marked as indexed only when all locale URLs succeed. Returns
        per-post results with individual URL statuses.
      tags:
        - post_post
      security:
        - post_bearerAuth: []
      responses:
        '200':
          description: Indexing completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_IndexingResponse'
              examples:
                withResults:
                  summary: Posts were indexed
                  value:
                    ok: true
                    processedCount: 2
                    indexingResults:
                      - postId: 550e8400-e29b-41d4-a716-446655440000
                        urls:
                          - url: https://mogumogu.dev/en/blog/tech/my-post
                            result:
                              ok: true
                          - url: https://mogumogu.dev/ja/blog/tech/my-post
                            result:
                              ok: true
                          - url: https://mogumogu.dev/ko/blog/tech/my-post
                            result:
                              ok: true
                        allSuccess: true
                noPending:
                  summary: No unindexed posts
                  value:
                    ok: true
                    message: There are no unindexed posts.
        '401':
          description: Missing authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Missing authorization header
        '403':
          description: Invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Invalid bearer token
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
  /api/like/{classification}/{category}/{slug}:
    parameters:
      - $ref: '#/components/parameters/post_Classification'
      - $ref: '#/components/parameters/post_Category'
      - $ref: '#/components/parameters/post_Slug'
    get:
      operationId: getLikeStatus
      summary: Get like count and user status
      description: |
        Returns the total like count for a post and whether the specified user
        has already liked it. If `userEmail` is omitted, `liked` defaults to
        `false`.
      tags:
        - post_like
      security: []
      parameters:
        - name: userEmail
          in: query
          required: false
          description: Email of the user to check like status for
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Like status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_LikeStatus'
              example:
                likeCount: 5
                liked: true
        '404':
          description: Post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Post not found
        '500':
          description: Failed to fetch like status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
    post:
      operationId: addLike
      summary: Add a like to a post
      description: |
        Adds a like for the specified user on the post. Looks up the user by
        email and the post by (classification, category, slug). The database
        enforces a unique constraint on (post_id, user_id), so duplicate likes
        are silently ignored (`ON CONFLICT DO NOTHING`).
      tags:
        - post_like
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_LikeRequest'
            example:
              userEmail: user@example.com
      responses:
        '200':
          description: Like added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_MessageResponse'
              example:
                message: Like added
        '400':
          description: Missing userEmail in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Missing userEmail in request body
        '404':
          description: User or post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Post not found
        '500':
          description: Failed to add like
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
    delete:
      operationId: removeLike
      summary: Remove a like from a post
      description: |
        Removes the like for the specified user on the post. Safe to call even
        if the like does not exist (no error is thrown).
      tags:
        - post_like
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_LikeRequest'
            example:
              userEmail: user@example.com
      responses:
        '200':
          description: Like removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_MessageResponse'
              example:
                message: Like removed
        '400':
          description: Missing userEmail in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Missing userEmail in request body
        '404':
          description: User or post not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
              example:
                error: Post not found
        '500':
          description: Failed to remove like
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_ErrorResponse'
  /api/visitor:
    post:
      operationId: recordVisitor
      summary: Record a visitor
      description: |
        Upserts a visitor fingerprint record. On first visit, inserts a new row
        with bot detection and geolocation data extracted from request headers
        (Cloudflare `cf-connecting-ip`, `cf-ipcountry`). On subsequent visits,
        increments `visit_count` and updates `last_visited`, `ip_address`,
        `country`, and `is_bot`.
      tags:
        - visitor_visitor
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/visitor_RecordVisitorRequest'
            example:
              fingerprint: abc123def456
      responses:
        '200':
          description: Visitor recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_OkResponse'
              example:
                ok: true
        '400':
          description: Missing fingerprint in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Fingerprint is required
  /api/visitor/{fingerprint}:
    parameters:
      - $ref: '#/components/parameters/visitor_Fingerprint'
    get:
      operationId: getVisitor
      summary: Get visitor info by fingerprint
      description: |
        Looks up a visitor record by fingerprint. Returns the full visitor
        record if found, or `found: false` if no matching fingerprint exists.
        Both cases return HTTP 200.
      tags:
        - visitor_visitor
      security: []
      responses:
        '200':
          description: Visitor lookup result
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/visitor_VisitorFound'
                  - $ref: '#/components/schemas/visitor_VisitorNotFound'
              examples:
                found:
                  summary: Visitor exists
                  value:
                    ok: true
                    found: true
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      fingerprint: abc123def456
                      user_agent: Mozilla/5.0 ...
                      ip_address: 203.0.113.42
                      country: KR
                      is_bot: false
                      first_visited: '2025-06-01T09:00:00.000Z'
                      last_visited: '2025-06-15T14:30:00.000Z'
                      visit_count: 12
                notFound:
                  summary: No matching visitor
                  value:
                    ok: false
                    found: false
        '400':
          description: Missing fingerprint parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Fingerprint is required
  /api/google/analytics:
    get:
      operationId: getAnalytics
      summary: Get Google Analytics data
      description: |
        Fetches active-user analytics from the Google Analytics Data API
        (GA4) for the last 7 days, grouped by date. Requires a valid
        `GA4_PROPERTY_ID` environment variable and Google service-account
        credentials on the server.
      tags:
        - visitor_analytics
      security: []
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_AnalyticsResponse'
              example:
                data:
                  - date: '20250601'
                    activeUsers: '142'
                  - date: '20250602'
                    activeUsers: '158'
        '500':
          description: Failed to fetch analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
  /api/status:
    get:
      operationId: getHealthStatus
      summary: API health check
      description: |
        Simple health-check endpoint. Returns a static success response
        to confirm the API is running.
      tags:
        - visitor_status
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_HealthResponse'
              example:
                ok: true
                status: healthy
  /api/status/indexing:
    get:
      operationId: getIndexingQuota
      summary: Get Google Indexing API quota status
      description: |
        Returns the daily usage and remaining quota for the Google Indexing
        API. The daily quota is capped at 200 requests. Usage is tracked in
        the `api_usage` table. Requires a Bearer token for authorization.
      tags:
        - visitor_status
      security:
        - visitor_bearerAuth: []
      responses:
        '200':
          description: Indexing quota status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_IndexingQuotaStatus'
              example:
                ok: true
                apiName: google_indexing
                used: 45
                remaining: 155
                maxDailyQuota: 200
        '401':
          description: Missing or malformed Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Unauthorized
        '403':
          description: Invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Forbidden
        '500':
          description: Server configuration error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Server config error
  /api/indexing:
    post:
      operationId: triggerIndexing
      summary: Trigger full-text search indexing
      description: |
        Starts an asynchronous indexing job that reads all MDX posts for
        every locale (`en`, `ja`, `ko`), extracts title and content from
        each, and builds an in-memory Fuse.js search index. The `Origin`
        header must match the server's `NEXT_PUBLIC_BASE_URL`. Returns a
        job ID that can be polled via `GET /api/indexing?job_id=`.
      tags:
        - visitor_indexing
      security: []
      responses:
        '200':
          description: Indexing job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_IndexingJobCreated'
              example:
                job_id: 550e8400-e29b-41d4-a716-446655440000
                status: pending
        '403':
          description: Origin does not match allowed base URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/visitor_ErrorResponse'
              example:
                error: Forbidden
    get:
      operationId: getIndexingJob
      summary: Get indexing job status or search cache
      description: |
        When `job_id` is provided, returns the current status of the
        indexing job. When omitted, returns the cached Fuse.js search
        index for the specified language.
      tags:
        - visitor_indexing
      security: []
      parameters:
        - name: job_id
          in: query
          required: false
          description: UUID of the indexing job to check
          schema:
            type: string
            format: uuid
        - name: lang
          in: query
          required: false
          description: Language code for the cached search index
          schema:
            type: string
            enum:
              - en
              - ja
              - ko
            default: en
      responses:
        '200':
          description: Job status or search cache
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/visitor_IndexingJobStatus'
                  - type: array
                    items:
                      $ref: '#/components/schemas/visitor_SearchEntry'
              examples:
                jobStatus:
                  summary: Job in progress
                  value:
                    status: processing
                    started: 1719835200000
                completed:
                  summary: Job completed
                  value:
                    status: completed
                    started: 1719835200000
                    finished: 1719835260000
                cache:
                  summary: Cached search index
                  value:
                    - title: My First Post
                      content: Lorem ipsum dolor sit amet...
                      link: /en/blog/tech/my-first-post
                      type: post
                      lang: en
components:
  parameters:
    anime_AnimeId:
      name: id
      in: path
      required: true
      description: AniList anime ID
      schema:
        type: integer
        format: int64
    comment_Classification:
      name: classification
      in: path
      required: true
      description: Post classification (e.g. `blog`, `dev`)
      schema:
        type: string
    comment_Category:
      name: category
      in: path
      required: true
      description: Post category within the classification
      schema:
        type: string
    comment_Slug:
      name: slug
      in: path
      required: true
      description: URL-friendly post identifier
      schema:
        type: string
    comment_CommentId:
      name: comment_id
      in: path
      required: true
      description: Comment identifier
      schema:
        type: string
    hackernews_Date:
      name: date
      in: path
      required: true
      description: Date in `YYMMDD` format (e.g. `260201` for 2026-02-01)
      schema:
        type: string
        pattern: ^\d{6}$
    hackernews_LangQuery:
      name: lang
      in: query
      required: true
      description: Target translation language
      schema:
        type: string
        enum:
          - ko
          - ja
    misc_Language:
      name: lan
      in: path
      required: true
      description: Language code
      schema:
        type: string
        enum:
          - en
          - ja
          - ko
    post_Classification:
      name: classification
      in: path
      required: true
      description: Post classification (e.g. `blog`, `dev`, `trends`)
      schema:
        type: string
    post_Category:
      name: category
      in: path
      required: true
      description: Post category within the classification
      schema:
        type: string
    post_Slug:
      name: slug
      in: path
      required: true
      description: URL-friendly post identifier
      schema:
        type: string
    post_ClassificationQuery:
      name: classification
      in: query
      required: true
      description: Post classification (e.g. `blog`, `dev`, `trends`)
      schema:
        type: string
    post_CategoryQuery:
      name: category
      in: query
      required: true
      description: Post category within the classification
      schema:
        type: string
    post_SlugQuery:
      name: slug
      in: query
      required: true
      description: URL-friendly post identifier
      schema:
        type: string
    visitor_Fingerprint:
      name: fingerprint
      in: path
      required: true
      description: Unique device/browser fingerprint identifier
      schema:
        type: string
  schemas:
    anime_AnimeRow:
      type: object
      description: Anime record as stored in the database (snake_case)
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
          description: AniList ID (primary key)
        romaji_title:
          type:
            - string
            - 'null'
        english_title:
          type:
            - string
            - 'null'
        japanese_title:
          type:
            - string
            - 'null'
        start_date:
          type:
            - string
            - 'null'
          format: date
          description: ISO date (e.g. `2025-01-04`)
        end_date:
          type:
            - string
            - 'null'
          format: date
        episodes:
          type:
            - integer
            - 'null'
        cover_color:
          type:
            - string
            - 'null'
          description: Hex colour (e.g. `#1a237e`)
        cover_image_url:
          type:
            - string
            - 'null'
          format: uri
        review:
          type:
            - string
            - 'null'
        seasons_info:
          description: JSONB array of related anime entries
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/anime_SeasonRelation'
        updated_at:
          type:
            - string
            - 'null'
          format: date-time
        season:
          type:
            - string
            - 'null'
          description: Uppercase season name (e.g. `WINTER`)
        season_year:
          type:
            - integer
            - 'null'
        is_visible:
          type: boolean
          default: true
    anime_SeasonRelation:
      type: object
      description: Related anime entry stored in `seasons_info` JSONB
      properties:
        id:
          type: integer
        relationType:
          type: string
          description: AniList relation type (e.g. `PREQUEL`, `SEQUEL`)
        title:
          $ref: '#/components/schemas/anime_AnimeTitle'
        startDate:
          $ref: '#/components/schemas/anime_AnimeDate'
        coverImage:
          type:
            - string
            - 'null'
          format: uri
        season:
          type:
            - string
            - 'null'
        seasonYear:
          type:
            - integer
            - 'null'
    anime_AnimeTitle:
      type: object
      properties:
        romaji:
          type:
            - string
            - 'null'
        english:
          type:
            - string
            - 'null'
        native:
          type:
            - string
            - 'null'
    anime_AnimeDate:
      type: object
      properties:
        year:
          type:
            - integer
            - 'null'
        month:
          type:
            - integer
            - 'null'
        day:
          type:
            - integer
            - 'null'
    anime_AnimeCoverImage:
      type: object
      properties:
        color:
          type:
            - string
            - 'null'
        extraLarge:
          type:
            - string
            - 'null'
          format: uri
    anime_AnimeListResponse:
      type: object
      required:
        - animes
      properties:
        animes:
          type: array
          items:
            $ref: '#/components/schemas/anime_AnimeRow'
    anime_UpdateAnimeResponse:
      type: object
      required:
        - message
        - anime
      properties:
        message:
          type: string
        anime:
          type: object
          description: Merged anime object (camelCase, AniList format)
          properties:
            id:
              type: integer
            title:
              $ref: '#/components/schemas/anime_AnimeTitle'
            startDate:
              $ref: '#/components/schemas/anime_AnimeDate'
            endDate:
              $ref: '#/components/schemas/anime_AnimeDate'
            episodes:
              type:
                - integer
                - 'null'
            season:
              type:
                - string
                - 'null'
            seasonYear:
              type:
                - integer
                - 'null'
            coverImage:
              $ref: '#/components/schemas/anime_AnimeCoverImage'
            relations:
              type: object
              properties:
                edges:
                  type: array
                  items:
                    type: object
                nodes:
                  type: array
                  items:
                    type: object
            isVisible:
              type: boolean
            review:
              type:
                - string
                - 'null'
    anime_LibrariesResponse:
      type: object
      required:
        - libraries
      properties:
        libraries:
          type: array
          description: |
            Jellyfin library names matching `{year}-{seasonNum}` pattern,
            sorted descending.
          items:
            type: string
    anime_MessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    anime_SyncMissingIdsError:
      type: object
      required:
        - error
        - data
      properties:
        error:
          type: string
        data:
          type: array
          description: Jellyfin series entries that lack an AniList provider ID
          items:
            type: object
            required:
              - id
              - name
            properties:
              id:
                type: string
                description: Jellyfin series ID
              name:
                type: string
                description: Jellyfin series name
    anime_ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
    anime_UpdateAnimeRequest:
      type: object
      description: |
        Partial anime update. All fields are optional; only provided fields
        are merged into the existing record.
      properties:
        title:
          $ref: '#/components/schemas/anime_AnimeTitle'
        startDate:
          $ref: '#/components/schemas/anime_AnimeDate'
        endDate:
          $ref: '#/components/schemas/anime_AnimeDate'
        episodes:
          type:
            - integer
            - 'null'
        season:
          type:
            - string
            - 'null'
        seasonYear:
          type:
            - integer
            - 'null'
        coverImage:
          $ref: '#/components/schemas/anime_AnimeCoverImage'
        relations:
          type: object
          properties:
            edges:
              type: array
              items:
                type: object
            nodes:
              type: array
              items:
                type: object
        isVisible:
          type: boolean
        review:
          type:
            - string
            - 'null'
    anime_SyncRequest:
      type: object
      required:
        - season
        - seasonYear
      properties:
        season:
          type: string
          enum:
            - winter
            - spring
            - summer
            - fall
          description: Lowercase season name
        seasonYear:
          type: integer
          description: Year of the season (e.g. `2025`)
    auth_AuthenticatedStatus:
      type: object
      required:
        - isAuthenticated
        - user
      properties:
        isAuthenticated:
          type: boolean
          const: true
        user:
          $ref: '#/components/schemas/auth_SessionUser'
    auth_UnauthenticatedStatus:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          const: Not authenticated
    auth_MessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    auth_ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
    auth_SessionUser:
      type: object
      description: User identity decoded from the JWT payload
      required:
        - userId
        - username
        - email
      properties:
        userId:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        photo:
          type:
            - string
            - 'null'
          format: uri
    comment_Comment:
      type: object
      description: Comment with joined user details (camelCase)
      required:
        - id
        - postId
        - userId
        - content
        - email
        - username
        - createdAt
      properties:
        id:
          type: string
        postId:
          type: string
        userId:
          type: string
        userPhoto:
          type:
            - string
            - 'null'
          format: uri
        content:
          type: string
        email:
          type: string
          format: email
        username:
          type: string
        photo:
          type:
            - string
            - 'null'
          format: uri
        reply:
          type:
            - string
            - 'null'
        repliedAt:
          type:
            - string
            - 'null'
          format: date-time
        createdAt:
          type: string
          format: date-time
    comment_CommentRaw:
      type: object
      description: Comment as returned from database (snake_case)
      required:
        - id
        - post_id
        - user_id
        - content
        - created_at
        - updated_at
      properties:
        id:
          type: string
        post_id:
          type: string
        user_id:
          type: string
        user_photo:
          type:
            - string
            - 'null'
          format: uri
        content:
          type: string
        reply:
          type:
            - string
            - 'null'
        replied_at:
          type:
            - string
            - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    comment_ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
    comment_CreateCommentRequest:
      type: object
      required:
        - user_id
        - content
      properties:
        user_id:
          type: string
          format: uuid
        user_photo:
          type:
            - string
            - 'null'
          format: uri
        content:
          type: string
    comment_UpdateCommentRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
    comment_DeleteCommentRequest:
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          format: uuid
    comment_AdminReplyRequest:
      type: object
      required:
        - reply
      properties:
        reply:
          type: string
    hackernews_HackerNewsArticle:
      type: object
      description: |
        A single Hacker News article. The `id` is a 16-character hex string
        derived from SHA-256 of the title. Titles have HN prefixes
        (`Show HN:`, `Ask HN:`, `Launch HN:`) removed.
      required:
        - id
        - hnId
        - title
        - type
      properties:
        id:
          type: string
          description: 16-char SHA-256 hex digest of the original title
        hnId:
          type: integer
          description: Original Hacker News story ID
        title:
          $ref: '#/components/schemas/hackernews_LocalizedText'
        type:
          type: string
          description: HN item type (e.g. `story`)
        url:
          type:
            - string
            - 'null'
          format: uri
          description: Original article URL
        score:
          type:
            - integer
            - 'null'
          description: HN upvote score
        by:
          type:
            - string
            - 'null'
          description: HN username of the submitter
        time:
          type:
            - integer
            - 'null'
          description: Submission time (Unix timestamp)
        content:
          type:
            - string
            - 'null'
          description: Full article text (max 15 000 tokens)
        summary:
          $ref: '#/components/schemas/hackernews_LocalizedText'
    hackernews_LocalizedText:
      type: object
      description: Text in three locales
      properties:
        en:
          type:
            - string
            - 'null'
        ko:
          type:
            - string
            - 'null'
        ja:
          type:
            - string
            - 'null'
    hackernews_CountResponse:
      type: object
      required:
        - ok
        - counts
        - message
      properties:
        ok:
          type: boolean
        date:
          type:
            - string
            - 'null'
          description: Date in `YYMMDD` format
        counts:
          $ref: '#/components/schemas/hackernews_NullFieldCounts'
        message:
          type: string
    hackernews_NullFieldCounts:
      type: object
      required:
        - nullContentCount
        - nullSummaryEnCount
        - nullSummaryJaCount
        - nullSummaryKoCount
      properties:
        nullContentCount:
          type: integer
        nullSummaryEnCount:
          type: integer
        nullSummaryJaCount:
          type: integer
        nullSummaryKoCount:
          type: integer
    hackernews_FetchEnqueuedResponse:
      type: object
      required:
        - ok
        - type
        - message
      properties:
        ok:
          type: boolean
          const: true
        type:
          type: string
          const: fetch
        message:
          type: string
    hackernews_SummarizeEnqueuedResponse:
      type: object
      required:
        - ok
        - type
        - total
        - message
      properties:
        ok:
          type: boolean
          const: true
        type:
          type: string
          const: summarize
        total:
          type: integer
          description: Number of articles enqueued
        message:
          type: string
    hackernews_TranslateEnqueuedResponse:
      type: object
      required:
        - ok
        - type
        - lang
        - total
        - message
      properties:
        ok:
          type: boolean
          const: true
        type:
          type: string
          const: translate
        lang:
          type: string
          enum:
            - ko
            - ja
        total:
          type: integer
          description: Number of articles enqueued
        message:
          type: string
    hackernews_DrawEnqueuedResponse:
      type: object
      required:
        - ok
        - message
      properties:
        ok:
          type: boolean
          const: true
        message:
          type: string
    hackernews_FlushResponse:
      type: object
      required:
        - ok
        - type
        - attempted
        - canFlush
        - flushed
        - counts
        - totalKeys
        - message
      properties:
        ok:
          type: boolean
        type:
          type: string
          enum:
            - fetch
            - summarize
            - translate
        lang:
          type:
            - string
            - 'null'
          enum:
            - ko
            - ja
            - null
        attempted:
          type: boolean
        canFlush:
          type: boolean
          description: Whether the flush condition was met
        flushed:
          type: integer
          description: Number of items flushed from Redis to R2
        counts:
          $ref: '#/components/schemas/hackernews_RedisPrefixCounts'
        totalKeys:
          type: integer
          description: Total Redis keys remaining after flush
        message:
          type: string
    hackernews_RedisPrefixCounts:
      type: object
      description: Number of Redis keys grouped by prefix
      required:
        - en
        - ja
        - ko
        - content
      properties:
        en:
          type: integer
        ja:
          type: integer
        ko:
          type: integer
        content:
          type: integer
    hackernews_RedisCountResponse:
      type: object
      required:
        - ok
        - keyCount
        - keys
      properties:
        ok:
          type: boolean
        keyCount:
          type: integer
        keys:
          type: array
          items:
            type: string
    hackernews_OkErrorResponse:
      type: object
      description: 'Error response using `ok: false` pattern'
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
    hackernews_ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
    hackernews_FlushRequest:
      type: object
      required:
        - type
        - total
      properties:
        type:
          type: string
          enum:
            - fetch
            - summarize
            - translate
          description: Which processing step to flush
        total:
          type: integer
          description: Expected number of completed tasks
        lang:
          type: string
          enum:
            - ko
            - ja
          description: Target language (required when `type` is `translate`)
    misc_SuccessResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          const: true
    misc_LanguageErrorResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          const: false
        message:
          type: string
    misc_OkResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
          const: true
    misc_OkErrorResponse:
      type: object
      required:
        - ok
        - error
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message
    misc_TurnstileVerifyRequest:
      type: object
      required:
        - turnstileToken
      properties:
        turnstileToken:
          type: string
          description: Cloudflare Turnstile client-side token
    misc_DiscordAdminRequest:
      type: object
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          bug_report: '#/components/schemas/misc_BugReportPayload'
          comment_create: '#/components/schemas/misc_CommentCreatePayload'
          comment_update: '#/components/schemas/misc_CommentUpdatePayload'
          comment_delete: '#/components/schemas/misc_CommentDeletePayload'
      oneOf:
        - $ref: '#/components/schemas/misc_BugReportPayload'
        - $ref: '#/components/schemas/misc_CommentCreatePayload'
        - $ref: '#/components/schemas/misc_CommentUpdatePayload'
        - $ref: '#/components/schemas/misc_CommentDeletePayload'
    misc_BugReportPayload:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: bug_report
        title:
          type: string
          description: Bug report title
        content:
          type: string
          description: Bug report details
    misc_CommentCreatePayload:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: comment_create
        content:
          type: string
          description: Comment content
        username:
          type: string
          description: Comment author username
        post_url:
          type: string
          format: uri
          description: URL of the post where the comment was created
    misc_CommentUpdatePayload:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: comment_update
        updatedContent:
          type: string
          description: Updated comment content
        username:
          type: string
          description: Comment author username
        post_url:
          type: string
          format: uri
          description: URL of the post where the comment was updated
    misc_CommentDeletePayload:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: comment_delete
        username:
          type: string
          description: Comment author username
        post_url:
          type: string
          format: uri
          description: URL of the post where the comment was deleted
    post_PostMeta:
      type: object
      description: Post metadata returned from frontmatter or slug parsing
      required:
        - title
        - date
        - classification
        - category
      properties:
        fileName:
          type:
            - string
            - 'null'
          description: MDX file name (absent for trends posts)
        title:
          type: string
        date:
          type: string
          description: Publication date (ISO 8601 date, e.g. `2025-06-01`)
        classification:
          type: string
        category:
          type: string
        image:
          type:
            - string
            - 'null'
          description: Cover image path (absent for trends posts)
    post_SyncResponse:
      type: object
      required:
        - ok
        - inserted
        - message
      properties:
        ok:
          type: boolean
        inserted:
          type: integer
          description: Number of posts upserted
        message:
          type: string
    post_IndexingResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
        message:
          type: string
          description: Present when there are no unindexed posts
        processedCount:
          type: integer
          description: Number of posts processed
        indexingResults:
          type: array
          description: Per-post indexing results
          items:
            $ref: '#/components/schemas/post_IndexingResult'
    post_IndexingResult:
      type: object
      required:
        - postId
        - urls
        - allSuccess
      properties:
        postId:
          type: string
          format: uuid
        urls:
          type: array
          items:
            $ref: '#/components/schemas/post_IndexingUrlResult'
        allSuccess:
          type: boolean
          description: True only when all locale URLs were indexed successfully
    post_IndexingUrlResult:
      type: object
      required:
        - url
        - result
      properties:
        url:
          type: string
          format: uri
        result:
          type: object
          required:
            - ok
          properties:
            ok:
              type: boolean
            error:
              type: string
            data:
              type: object
    post_LikeStatus:
      type: object
      required:
        - likeCount
        - liked
      properties:
        likeCount:
          type: integer
          description: Total number of likes on the post
        liked:
          type: boolean
          description: Whether the queried user has liked the post
    post_MessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    post_ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
    post_LikeRequest:
      type: object
      required:
        - userEmail
      properties:
        userEmail:
          type: string
          format: email
          description: Email address of the user performing the like action
    visitor_OkResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
    visitor_VisitorFound:
      type: object
      required:
        - ok
        - found
        - data
      properties:
        ok:
          type: boolean
          const: true
        found:
          type: boolean
          const: true
        data:
          $ref: '#/components/schemas/visitor_VisitorFingerprint'
    visitor_VisitorNotFound:
      type: object
      required:
        - ok
        - found
      properties:
        ok:
          type: boolean
          const: false
        found:
          type: boolean
          const: false
    visitor_VisitorFingerprint:
      type: object
      description: Visitor record from the `visitor_fingerprint` table
      required:
        - id
        - fingerprint
        - is_bot
        - first_visited
        - last_visited
        - visit_count
      properties:
        id:
          type: string
          format: uuid
        fingerprint:
          type: string
        user_agent:
          type:
            - string
            - 'null'
        ip_address:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
          description: ISO country code from Cloudflare `cf-ipcountry` header
        is_bot:
          type: boolean
          description: Detected via user-agent pattern matching
        first_visited:
          type: string
          format: date-time
        last_visited:
          type: string
          format: date-time
        visit_count:
          type: integer
    visitor_AnalyticsResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
[...]
